<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.mapper.CustomerMapper">

	<select id="getList" resultType="com.jujumarket.domain.CustomerVO">
		<![CDATA[
			select * from m_customer where idno>0
		]]>
	</select>

	<insert id="insert">
		insert into m_customer (idno, contact,pwd, authcode) 
		values (seq_idno.nextval, #{contact}, #{pwd}, #{authcode})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="idno" order="BEFORE" resultType="String">
			select seq_idno.nextval from dual
		</selectKey>
			insert into m_customer (idno, contact,pwd, authcode) 
			values (#{idno}, #{contact}, #{pwd}, #{authcode})	</insert>
	
	<select id="read" resultType="com.jujumarket.domain.ShopVO">
		select * from m_customer where idno = #{idno}
	</select>
	
	<delete id="delete">
		delete from m_customer where idno = #{idno}
	</delete>
	
	<update id="update">
		update m_customer
		set contact = #{contact}, pwd = #{pwd}, authcode=#{authcode}
		where idno = #{idno}
	</update>
	
</mapper>